.main {
  background: purple;
}

.overlay {
  /* position: fixed; */
  /* width: 100%; */
  /* height: 100%; */
  /* /1* background: red; *1/ */
  /* top: 0; */
  /* left: 0; */
}

:global {
.ReactModal__Body--open {
  background: red;
  overflow: hidden;
  /* > *:not(.ReactModalPortal) { */
  /*   filter: blur(10px); */
  /* } */
}

}
