@value colors: '../values/colors.css';
@value primary, primary-inverted, background from colors;

* {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: primary;
  font-size: 1.6rem;
  line-height: 2rem;

  &::before,
  &::after {
    user-select: none;
  }
}

html {
  /* This makes 1em exactly 10px */
  font-size: 62.5%;
}

body {
  margin: 0;
  background: background;
}

::selection {
  background: primary;
  color: primary-inverted;
}
