@import "./color.css";

html {
  font-size: 62.5%;
}

* {
  font-family: Roboto, serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 2rem;
  background: var(--background);
}

::selection {
  background: var(--primary);
  color: var(--primary--contrary);
}
