@import "./color.css";

html {
  font-size: 62.5%;
}

* {
  font-family: Roboto, serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--primaryColor);
  font-size: 1.6rem;
  line-height: 2rem;
}

body {
  margin: 0;
  padding: 2rem;
  background: var(--backgroundColor);
}

::selection {
  background: var(--primaryColor);
  color: var(--primaryContraryColor);
}
