:root {
  /*
   * Primary color
   */
  --primaryColor: #5b5d5d;
  --primaryLightColor: color(var(--primaryColor) lightness(40%));
  --primaryDarkColor: #000;
  --primaryContraryColor: #fff;

  /*
   * Secondary color
   */
  --secondaryColor: #a4224a;
  --secondaryLightColor: color(var(--secondaryColor) lightness(40%));
  --secondaryDarkColor: color(var(--secondaryColor) blackness(40%));
  --secondaryContraryColor: #fff;

  /*
   * Other colors
   */
  --backgroundColor: #f0f2eb;
}
