@value primary: #5b5d5d;
@value primary-inverted: #fff;
@value primary-light: #ccc;
@value primary-dark: #000;
@value secondary: #a4224a;
@value secondary-light: green;
@value secondary-dark: blue;
@value secondary-inverted: #fff;
@value background: #f0f2eb;
