input[type="submit"] {
  position: absolute;
  left: -3000px;
}

.content a.button,
.content button,
#logging-config input[type="submit"],
#logging-download input[type="submit"] {
  @include transition(all, 0.2s, ease, 0s);

  display: inline-block;
  position: static;
  outline: none;
  font-weight: 400;
  border: 1px solid $passion-red;
  background: none;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 0;
  margin-right: 2px;
  margin-bottom: 2px;
  color: $passion-red;
  text-decoration: none;
  cursor: pointer;

  &:hover:not(:disabled, .disabled) {
    background-color: $passion-red;
    color: #fff;
  }

  &:disabled,
  &.disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.content a.button.plus {
  background-image: url("../images/plus.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 20px;

  &:hover {
    background-image: url("../images/plus-hover.png");
  }
}

a.icon.delete {
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

a.delete {
  background-image: url("../images/icons/delete.png");
}
