:not(main#login) {
  input[type="submit"] {
    @include opacity(0);

    position: absolute;
    z-index: -300;
  }
}

div.multi-client {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin-left: -20px;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);

  select {
    display: inline-block;
    padding: 9px 10px 6px 60px;
    border: none;
    background-color: transparent;
    background-image: url("../images/icons/house.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    font-size: 17px;
  }

  a.button {
    display: inline-block;
    margin: 0;
    margin-left: 20px;
  }
}

ul#configurations {
  padding: 0;
  margin: 0;

  ul ul {
    ul {
      padding-left: 20px;
    }
  }

  h2,
  h3 {
    clear: both;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: -10px;
  }

  h3 {
    margin: 10px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 31px;

    .arrow {
      @include transition(all, 0.4s, ease, 0s);
      @include opacity(0.6);
      @include transform(rotate(-180deg));

      width: 11px;
      height: 5px;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -2px;
      background-image: url("../images/arrow.png");
    }

    &:hover {
      color: #000;

      .arrow {
        @include opacity(1);
      }
    }
  }

  h3.closed .arrow {
    @include transform(rotate(0deg));
  }

  li {
    padding: 0;
    margin: 0;
    list-style-type: none;

    ul {
      padding: 0;
      margin: 0;
      display: block;

      li {
        clear: both;
        display: block;

        form {
          display: block;
        }

        label,
        input,
        select,
        fieldset {
          display: block;
          float: left;
          margin: 0;
        }

        label {
          word-wrap: break-word;
          width: 400px;
          text-align: left;
          padding: 11px 58px 11px 10px;
        }

        input,
        select,
        fieldset {
          width: 400px;
        }
      }
    }
  }

  fieldset.pattern {
    margin-bottom: 4px;

    ol {
      width: 198px;
      padding: 0;
      box-sizing: border-box;
      overflow: hidden;

      li {
        border: 1px solid #bbb;
        padding: 5px;
        background-color: white;
        margin: 4px 0;
        cursor: move;

        &:hover {
          border-color: $passion-red;
        }
      }

      &.selected {
        float: left;
      }

      &.deselected {
        float: right;

        li {
          color: #bbb;
          background-color: #f9f9f9;
        }
      }
    }
  }
}

ul#configurations {
  li,
  form {
    fieldset div,
    label {
      a {
        @include opacity(0.7);
        @include transition(opacity, 0.4s, ease, 0s);

        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
        background-position: center center;

        &:hover {
          @include opacity(1);
        }
      }
    }

    label {
      position: relative;

      a {
        width: 48px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }

      a.restore {
        background-image: url("../images/icons/restore.png");
      }

      &:hover {
        a {
          display: block;
        }
      }
    }

    label.error {
      padding-right: 0;
      padding-left: 10px;
      color: $passion-red;
    }

    input:read-only,
    input:-moz-read-only,
    input[readonly] {
      background-color: #eee;
      font-style: italic;
    }

    input,
    select {
      padding: 8px 10px 6px;
      box-sizing: border-box;
      border: 1px solid #bbb;
    }

    input {
      padding-right: 0;
      width: 400px;
    }

    select {
      padding: 8px 10px 6px;
    }

    fieldset {
      border: none;
      padding: 0;

      input[type=checkbox] {
        padding: 0;
        width: auto !important;
        margin: 0;
        margin-top: 12px;
      }

      select.time {
        float: none;
        display: inline;
        width: auto;
      }

      div {
        clear: both;
        margin: 1px 0;

        input,
        select {
          float: left;
        }

        input,
        select {
          width: 358px;
        }

        input:read-only,
        input:-moz-read-only,
        input[readonly] {
          width: 400px;
        }

        a {
          float: left;
          width: 42px;
          height: 38px;
          background-position: center right;
        }

        a.add {
          background-image: url("../images/icons/add.png");
        }

        a.delete {
          background-image: url("../images/icons/delete.png");
        }
      }
    }
  }
}

.popup {
  border-radius: 40px;
  padding: 0;
  background-image: none;
  background-color: rgba(255, 255, 255, 0.9);

  p {
    text-align: center;
    padding: 0 40px 10px;

    ul {
      padding: 0;
      margin: 0;
      display: table;
      width: 100%;

      li {
        display: table-row;
        padding: 0;
        list-style-type: none;

        label,
        input,
        fieldset {
          display: table-cell;
        }

        label {
          vertical-align: middle;
          text-align: right;
          padding-right: 20px;
        }

        input {
          margin: 5px 0;
          padding: 8px 10px 6px;
          box-sizing: border-box;
          border: 1px solid #bbb;
          width: 100%;
        }

        fieldset {
          margin: 5px 0;
          width: 100%;
          border: none;
          padding: 0;
          text-align: left;

          input[type=checkbox] {
            display: inline;
            padding: 0;
          }
        }
      }
    }
  }

  h1 {
    display: block;
    font-size: 32px;
    color: $font-color;
    text-align: center;
    padding: 20px 40px;
    padding-top: 40px;
  }

  div {
    border-top: 1px solid #bbb;

    a {
      @include transition(all, 0.4s, ease, 0s);

      box-sizing: border-box;
      font-size: 16px !important;
      text-align: center;
      display: block;
      color: $passion-red;
      float: left;
      width: 50%;
      cursor: pointer;
      padding: 20px;

      &:hover {
        background-color: #bbb;
      }

      &:active {
        padding-top: 21px;
        padding-bottom: 19px;
        padding-left: 21px;
        padding-right: 19px;
      }
    }

    a.b0 {
      border-bottom-left-radius: 40px;
    }

    a.b1 {
      border-left: 1px solid #bbb;
      border-bottom-right-radius: 40px;
    }

    a.destructive:first-child {
      width: 100%;
      border-bottom-right-radius: 40px;
    }

    a.destructive {
      font-weight: bold;
    }
  }
}
