input,
select,
textarea {
  font-family: $font-family;
  color: $font-color;
  font-size: 15px;
  font-weight: 300;
}

input.placeholder,
select.placeholder {
  color: #a3a4a4;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* input[file] */

.input-file {
  display: inline-block;
  border: 1px solid $border-color;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.input-file input {
  display: none;
}

.input-file span {
  @include opacity(0.8);

  display: block;
  cursor: pointer;
  padding: 10px 20px;
  color: $font-color;
  font-style: italic;
}

.input-file span.changed {
  @include opacity(1);

  font-style: normal;
}
