#master-layout ~ header {
  .title {
    float: left;
  }

  .logout {
    width: 28px;
    height: 32px;
    background-image: url("../images/icons/logout.png");
    position: absolute;
    top: 9px;
    right: 20px;
  }

  .links {
    padding-right: 48px !important;
  }
}

main {
  .wrapper.layout {
    line-height: 1.4;
    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;

    .wrapper {
      display: table-row;
      padding: 0;

      nav,
      .content {
        display: table-cell;
        vertical-align: top;
      }

      .content {
        position: relative;
        padding: 0 20px 20px;
        border: 1px solid $border-color;
        border-top: none;
        background-color: rgba(255, 255, 255, 0.2);

        .title {
          width: 100%;
          padding: 7px 21px 12px;
          position: relative;
          left: -21px;
          background-color: $passion-red;
          margin-bottom: 20px;

          h1 {
            color: #fff;
          }

          h1.logo {
            background-image: url("../images/header-logo-white.png");
          }
        }

        hr {
          display: block;
          height: 20px;
          background-color: transparent;
          border: none;
          margin: 0;
          padding: 0;
        }

        .chart-description {
          text-align: center;
          font-weight: bold;
          margin-top: 10px;
        }

        .searchbar,
        .search {
          position: absolute;
          width: 170px;
          top: 22px;
          right: 20px;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 5px 10px 6px;
          padding-left: 30px;
          border-radius: 5px;
          background-image: url("../images/search.png");
          background-repeat: no-repeat;
          background-position: center left;
          border: none;
          color: rgba(255, 255, 255, 0.8);
        }

        .filter {
          position: absolute;
          top: 22px;
          right: 250px;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 4px 10px 5px;
          border-radius: 5px;
          border: none;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
}
