@include keyframes(blink) {
  from,
  to {
    color: transparent;
  }

  50% {
    color: inherit;
  }
}

@include keyframes(fade) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(shake) {
  20% { @include transform(rotateY(30deg)); }
  40% { @include transform(rotateY(-30deg)); }
  60% { @include transform(rotateY(30deg)); }
  80% { @include transform(rotateY(-30deg)); }
}

#login {
  @include perspective(1000px);

  .middle {
    vertical-align: middle;
    display: table-cell;
    width: 400px;
    text-align: center;

    &.init {
      @include animation(4s fade);
    }

    &.error {
      @include transform-origin(center center);
      @include animation(0.5s shake ease-out);
    }
  }

  h2::after {
    @include animation(1s blink step-end infinite);

    content: '_';
  }

  form {
    @include clearfix;

    margin: 0 auto;
    width: 300px;

    input:not([type="submit"]) {
      @include transition(all 0.3s);

      display: block;
      box-sizing: border-box;
      width: 100%;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 10px center;
      font-size: 18px;
      padding: 13px 10px 12px 60px;
      margin: 0;
      border-bottom: 1px solid $border-color;
      max-height: 50px;
      outline: none;
    }

    input:not([type="submit"]):disabled {
      max-height: 0;
      padding: 0 10px 0 60px;
      opacity: 0;
      border: none;
    }

    input[name="mandant"] {
      background-image: url("../images/icons/house.png");
      background-position-x: 9px;
    }

    input[name="username"] {
      background-image: url("../images/icons/user.png");
    }

    input[name="password"],
    input[name="confirm-new-password"] {
      background-image: url("../images/icons/lock.png");
      background-position-x: 13px;
      width: 252px;
    }

    input[name="old-password"] {
      background-image: url("../images/icons/unlock.png");
      background-position-x: 13px;
    }

    input[name="new-password"] {
      background-image: url("../images/icons/pencil.png");
    }

    input[type="submit"] {
      @include size(48px);

      float: right;
      position: relative;
      left: 0;
      top: -48px;
      border: none;
      border-bottom: 1px solid $border-color;
      font-size: 0;
      cursor: pointer;
      background: url("../images/icons/login.png");
      background-repeat: no-repeat;
      background-position: center;

      &:disabled {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  span {
    display: block;

    a {
      color: $font-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
