$nav-width: 250px;

$transition-time: 0.35s;
$transition-bezier: cubic-bezier(0.31, -0.105, 0.43, 1.59);
$transition: all, $transition-time, $transition-bezier;

nav.main-nav {
  width: $nav-width;
  min-width: $nav-width;
  border: 1px solid $border-color;
  border-right: none;
  background-image: url("../images/background-nav.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: rgba(255, 255, 255, 0.2);

  ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;

      %link {
        @include font-size(16px);
        @include transition(all 0.35s $transition-bezier);

        display: block;
        padding: 5px 20px;
        cursor: pointer;
        font-family: 'Roboto', Arial, sans-serif;
        font-weight: $font-weight-bold;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);

        &:hover {
          color: black;
        }

        &.active {
          color: red;
        }
      }

      a {
        @extend %link;
      }

      span {
        @extend %link;

        &::after {
          @extend .material-icons;

          @include transition(all 0.35s $transition-bezier);

          content: 'expand_more';
          vertical-align: middle;
          margin-top: -2px;
        }

        + ul {
          padding: 0;
          display: none;
          background: rgba(0, 0, 0, 0.4);
          border-top: 1px solid rgba(0, 0, 0, 0.6);
          border-bottom: 1px solid rgba(0, 0, 0, 0.6);

          a {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 400;

            &:hover {
              color: white;
            }
          }
        }

        &.opened {
          &::after {
            @include transform(rotate(180deg));
          }

          + ul {
            display: block;
          }
        }
      }
    }
  }
}
