fieldset.search-filter {
  margin: 0;
  padding: 20px;
  padding-right: 150px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;

  div {
    margin-bottom: 5px;
    display: inline-block;

    input,
    select {
      padding: 6px 8px 4px;
      box-sizing: border-box;
      border: 1px solid #bbb;
      width: 200px;
    }

    input.date:not(:read-only),
    input.date:not(:-moz-read-only) {
      width: 163px;
    }

    label {
      display: inline-block;
      text-align: right;
      width: 100px;
      padding: 0 10px;
    }

    a.delete-date {
      float: right;
      background-image: url("../images/icons/delete.png");
      width: 37px;
      height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      cursor: pointer;

      @include opacity(0.7);
      @include transition(opacity, 0.4s, ease, 0s);

      &:hover {
        @include opacity(1);
      }
    }
  }

  a.button {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
