{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-strict-mode",
    "transform-object-assign",
    "transform-array-from",
    "transform-object-rest-spread"
  ]
}
