.main {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  height: 100vh;
  width: 400px;
  pointer-events: none;
  padding: 20px;
  box-sizing: border-box;

  & span {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
}

.item {
  margin-top: 20px;
  pointer-events: all;
  cursor: pointer;
}
