@import "../../globals/color.css";

.default {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;

  .default {
    margin-bottom: 0;
  }

  & > li {
    background:
      linear-gradient(to right, var(--secondaryColor) 20%, transparent 20%),
      linear-gradient(to bottom, transparent 0.9rem, var(--secondaryColor) 0.9rem, var(--secondaryColor) 1.1rem, transparent 1.1rem);
    background-size: 1rem 100%;
    background-repeat: no-repeat;
    padding-left: 2rem;
    /* padding-bottom: 1rem; */

    &:last-child {
      padding-bottom: 0;
      background-size: 1rem 1.1rem;
    }

    & > * {
      margin-bottom: 0;
    }
  }
}

.itemize {
  composes: default;
}

.enumerate {
  composes: default;
}
