@import "../../globals/color.css";
@import "../globals/font.css";

.default {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;

  & .default {
    margin-bottom: 0;
  }

  & > li {
    background:
      linear-gradient(to right, var(--secondaryColor) 0.2rem, transparent 0.2rem),
      linear-gradient(to bottom, transparent 0.9rem, var(--secondaryColor) 0.9rem, var(--secondaryColor) 1.1rem, transparent 1.1rem);
    background-size: 0.8rem 100%;
    background-position: 0.4rem 0;
    background-repeat: no-repeat;
    padding-left: 2rem;

    &:last-child {
      background-size: 0.8rem 1.1rem;
    }

    & > * {
      margin-bottom: 0;
    }
  }
}

.itemize {
  /* composes: default; */
}

.enumerate {
  /* composes: default; */
  counter-reset: item;

  & > li {
    counter-increment: item;

    &::before {
      @mixin strikingFont;

      font-size: 1.4rem;
      line-height: 2rem;
      content: counter(item) ".";
      color: var(--secondaryColor);
      min-width: 1rem;
      padding-right: 1rem;
      display: inline-block;
    }
  }
}
