@value colors: '../../values/colors.css';
@value secondary, primary-dark from colors;

.main {
  display: block;
  margin: 0 0 2rem;
  color: secondary;
  font-weight: 300;
  font-size: 4.4rem;
  line-height: 5rem;
}

.sub {
  composes: salient from '../../globals/font.css';
  display: block;
  margin: 0 0 2rem;
  color: primary-dark;

  &::before {
    display: inline-block;
    width: 2rem;
    content: '#';
  }
}
