@import "../globals/color.css";

.main {
  display: block;
  margin: 0 0 2rem;
  color: var(--secondary);
  font-weight: 300;
  font-size: 4.4rem;
  line-height: 5rem;
}

.sub {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  color: var(--primary);
  margin: 0 0 2rem;

  &::before {
    display: inline-block;
    width: 1rem;
    content: '#';
  }
}
