.main {
  display: block;
  margin: 0 0 2rem;
  color: #a4224a;
  font-weight: 300;
  line-height: 5rem;
  font-size: 4.4rem;
}

.sub {
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  color: black;
  margin: 0 0 2rem;
}

.sub::before {
  display: inline-block;
  width: 1rem;
  content: '#';
}
