@import "../globals/color.css";
@import "../globals/font.css";

.main {
  display: block;
  margin: 0 0 2rem;
  color: var(--secondaryColor);
  font-weight: 300;
  font-size: 4.4rem;
  line-height: 5rem;
}

.sub {
  @mixin strikingFont;

  display: block;
  margin: 0 0 2rem;
  color: var(--primaryDarkColor);

  &::before {
    display: inline-block;
    width: 2rem;
    content: '#';
  }
}
