@import "../globals/color.css";
@import "../globals/font.css";
@import "../globals/state.css";

.default {
  @mixin strikingFont;

  background: none;
  font-size: 1.4rem;
  line-height: 2rem;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 500px;
  white-space: nowrap;
  text-align: center;
  box-sizing: border-box;
  outline: none;

  &:disabled {
    @mixin disabled;
  }
}

.main {
  composes: default;

  color: var(--secondaryColor);
  box-shadow: inset 0 0 0 0.2rem var(--secondaryColor);

  &:hover {
    background: var(--secondaryLightColor);
    color: var(--secondaryContraryColor);
    box-shadow: none;
  }

  &:hover:active {
    background: var(--secondaryDarkColor);
    color: var(--secondaryContraryColor);
    box-shadow: none;
  }
}

/* .primary { */
/*   composes: default; */

/*   background: var(--secondary); */
/*   color: var(--secondary--contrary); */

/*   &:hover { */
/*     background: var(--secondary--light); */
/*     color: var(--secondary--contrary); */
/*     box-shadow: inset 0 0 0 0 var(--secondary--light); */
/*   } */

/*   &:hover:active { */
/*     background: var(--secondary--dark); */
/*     color: var(--secondary--contrary); */
/*     box-shadow: inset 0 0 0 0 var(--secondary--dark); */
/*   } */
/* } */

/* .destructive { */
/*   composes: default; */

/*   color: var(--primary); */
/*   box-shadow: inset 0 0 0 2px var(--primary); */
/* } */
