@import "../globals/color.css";

.default {
  background: none;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  user-select: none;
  border: none;
  font-size: 1.4rem;
  border-radius: 500px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 500;
  box-sizing: border-box;
  transition: all 0.15s cubic-bezier(0.4, 0, 1, 1);
  outline: none;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
    filter: grayscale(50%);
  }
}

.main {
  composes: default;

  color: var(--secondary);
  box-shadow: inset 0 0 0 2px var(--secondary);

  &:hover {
    background: var(--secondary--light);
    color: var(--secondary--contrary);
    box-shadow: inset 0 0 0 0 var(--secondary--light);
  }
}

/* .primary { */
/*   composes: default; */

/*   background: #a4224a; */
/*   color: white; */
/* } */

/* .destructive { */
/*   composes: default; */

/*   color: black; */
/*   box-shadow: inset 0 0 0 2px black; */
/* } */
