$table-selector: 'table:not(.ui-datepicker-calendar)';

$table-cell-padding: 12px 20px;

$table-border-color: rgba(0, 0, 0, 0.4);
$table-border: 1px solid $table-border-color;
$table-border-radius: 5px;

$table-thead-background: rgba(0, 0, 0, 0.4);
$table-thead-color: white;
$table-thead-text-shadow: 0 1px 0 $table-border-color;

$table-tbody-td-odd-background: rgba(255, 255, 255, 0);
$table-tbody-th-odd-background: rgba(255, 255, 255, 0.2);

$table-tbody-td-even-background: rgba(255, 255, 255, 0.2);
$table-tbody-th-even-background: rgba(255, 255, 255, 0.4);

$table-tfoot-color: $table-border-color;
$table-tfoot-cell-padding: 8px 10px 0;
$table-tfoot-size: 14px;

/**
 * Padding
 */
#{$table-selector} {
  margin: $margin-offset-y 0;

  th,
  td {
    padding: $table-cell-padding;
  }
}

/**
 * Border
 */
#{$table-selector} {
  border-collapse: separate;
  border-spacing: 0;

  thead {
    th {
      border-top: $table-border;
      border-left: $table-border;

      &:last-child {
        border-right: $table-border;
      }
    }

    tr:first-child {
      th:first-child {
        border-top-left-radius: $table-border-radius;
      }

      th:last-child {
        border-top-right-radius: $table-border-radius;
      }
    }

    tr:last-child {
      th {
        border-bottom: $table-border;
      }
    }
  }

  tbody {
    td,
    th {
      border-left: $table-border;

      &:last-child {
        border-right: $table-border;
      }
    }

    tr:first-child {
      td,
      th {
        border-top: $table-border;

        &:first-child {
          border-top-left-radius: $table-border-radius;
        }

        &:last-child {
          border-top-right-radius: $table-border-radius;
        }
      }
    }

    tr:last-child {
      td,
      th {
        border-bottom: $table-border;

        &:first-child {
          border-bottom-left-radius: $table-border-radius;
        }

        &:last-child {
          border-bottom-right-radius: $table-border-radius;
        }
      }
    }
  }

  thead + tbody {
    tr:first-child {
      td,
      th {
        border-top: none;

        &:first-child {
          border-top-left-radius: 0;
        }

        &:last-child {
          border-top-right-radius: 0;
        }
      }
    }
  }
}

/**
 * Color
 */
#{$table-selector} {
  thead th {
    background-color: $table-thead-background;
    color: $table-thead-color;
  }

  tbody {
    tr:nth-child(odd) {
      th {
        background: $table-tbody-th-odd-background;
      }

      td {
        background: $table-tbody-td-odd-background;
      }
    }

    tr:nth-child(even) {
      th {
        background: $table-tbody-th-even-background;
      }

      td {
        background: $table-tbody-td-even-background;
      }
    }
  }
}

/**
 * Cell styling
 */
#{$table-selector} {
  th {
    font-weight: 600;
  }

  thead th {
    text-align: center;
    text-shadow: $table-thead-text-shadow;
  }

  tbody th {
    text-align: right;
  }
}

/**
 * Footer
 */
#{$table-selector} {
  tfoot td {
    @include font-size($table-tfoot-size);

    padding: $table-tfoot-cell-padding;
    text-align: right;
    font-style: italic;
    color: $table-tfoot-color;
  }

  thead + tfoot td {
    border: $table-border;
    border-top: none;
    border-bottom-left-radius: $table-border-radius;
    border-bottom-right-radius: $table-border-radius;
    padding: $table-cell-padding;
    text-align: center;
    font-size: inherit;
  }
}
