.main {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, transparent 1px),
    linear-gradient(to right,  rgba(0, 0, 0, 0.5) 0, transparent 1px);
  background-size: 1rem 1rem;
}
