.main {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -1rem 0 1rem -1rem;
}

.item {
  flex-grow: 1;
  flex-shrink: 0;
  margin: 1rem 0 0 1rem;
}

.item > * {
  width: 100%;
  max-width: none;
  margin: 0;
}
