.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.content {
  padding: 1rem;
  flex-grow: 1;
}

.close {
  margin: 0 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  padding: 0;
}

.error {
  background: #f56668;
  background: #e5a300;
  color: #fff;
}

.warning {
  background: #e5a300;
  color: #fff;
}

.success {
  background: #5ed490;
  color: #fff;
}

.info {
  background: #2a7ac0;
  color: #fff;
}
