/*
 * COMLINE COLORS
 */
$passion-red: #a4224b;
$dark-passion-red: #771a3a;
$consulting-blue: #105789;
$gray: #5b5d5d;
$light-gray: #ebebeb;
$future-blue: #9fd6f6;
$light-green: #b9d36c;

/*
 * COLORS
 */
$background-color: #cacaca;
$detail-background-color: #f9f9f9;
$font-color: $gray;
$border-color: $gray;
